html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(53, 29%, 89%);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-image: url("../photo/background_photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 3px;
}

.form__legend {
    text-align: center;
}

.paragraphObligatory {
    padding-top: 0;
    font-style: italic;
    font-size: small;
}

.paragraphResult {
    font-size: large;
    font-weight: bold;
    text-align: center;
}